<div class="container">

<h2>Restaurants</h2>

<% if @restaurants.any? %>

  <% @restaurants.each do |restaurant| %>
  <div class="panel panel-info">
    <div class="panel-heading">
      <b><%= image_tag restaurant.image.url(:thumb) %></b>
      <b><%= link_to restaurant.name, restaurant_path(restaurant)%></b>
    </div>
    <div class="panel-body">
      <p>Address: <%= restaurant.address%></p>
      <p>Description: <%= restaurant.description%></p>
      Average rating: <%= restaurant.average_rating%>
    </div>
  <% if (current_user && current_user.id != restaurant.user_id)%>
    <p><%= link_to "Review #{restaurant.name}", new_restaurant_review_path(restaurant) %></p>
  <% end %>
  <% if (current_user && current_user.id == restaurant.user_id)%>
    <p><%= link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant) %></p>
    <td><%= link_to "Delete #{restaurant.name}", restaurant_path(restaurant),
              method: :delete,
              data: { confirm: 'Are you sure you want to delete such an amazing restaurant?' } %><br></p>
  <% end %>
  </div>
<% end %>
<% else %>
  No restaurants yet
<% end %>
</div>
