<h1>Listing restaurants</h1>

<%if @restaurants.any? %>
  <table>
    <tr>
      <th>  </th>
      <th>Name</th>
      <th>Address</th>
      <th>Description</th>
      <th>Average Rating</th>
    </tr>

    <% @restaurants.each do |restaurant| %>
    <tr>
      <td><%= link_to restaurant.name, restaurant_path(restaurant) %></td>
      <td><%= restaurant.address %></td>
      <td><%= restaurant.description %></td>
      <td><%= restaurant.average_rating %></td>
      <% if (current_user && current_user.id != restaurant.user_id)%>
        <td><%= link_to "Review #{restaurant.name}", new_restaurant_review_path(restaurant) %></td>
      <% end %>
      <% if (current_user && current_user.id == restaurant.user_id)%>
        <td><%= link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant) %></td>
        <td><%= link_to "Delete #{restaurant.name}", restaurant_path(restaurant),
                  method: :delete,
                  data: { confirm: 'Are you sure you want to delete such an amazing restaurant?' } %></td>
      <% end %>
    </tr>
    <% end %>
  </table>
<%else%>
No restaurants yet
<%end%>
