<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add a new restaurant</title>
    <h1>Add a new restaurant</h1>
  </head>
  <body>

    <%= form_with scope: :restaurant, url: restaurants_path, local: true do |form| %>
      <p>
        <%= form.label :name %><br>
        <%= form.text_field :name %>
      </p>

      <p>
        <%= form.label :address %><br>
        <%= form.text_field :address %>
      </p>

      <p>
        <%= form.label :description %><br>
        <%= form.text_area :description %>
      </p>

      <p>
        <%= form.submit %>
      </p>
    <% end %>

  </body>
</html>
