<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @restaurant.description %>
</p>

<p>
  <strong>Average Rating:</strong>
  <%= @restaurant.average_rating %>
</p>

<% if (current_user.id == @restaurant.user.id)%>
  <%= link_to "Edit #{@restaurant.name}", edit_restaurant_path(@restaurant) %><br>
<% end %>
<%= link_to "Add review", new_restaurant_review_path(@restaurant) %><br>
<!-- <%= link_to 'Back to Restaurants', restaurants_path %><br><br> -->

<h2>Reviews</h2>
<%= render @restaurant.reviews %>
