<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @restaurant.description %>
</p>

<p>
  <strong>Average Rating:</strong>
  <%= @restaurant.average_rating %>
</p>

<% if (current_user && current_user.id == @restaurant.user_id)%>
  <%= link_to "Edit #{@restaurant.name}", edit_restaurant_path(@restaurant) %><br></p>
  <%= link_to "Delete #{@restaurant.name}", restaurant_path(@restaurant),
          method: :delete,
          data: { confirm: 'Are you sure you want to delete such an amazing restaurant?' } %><br></p>
<% end %>

<% if (current_user && current_user.id != @restaurant.user_id)%>
<%= link_to "Add review", new_restaurant_review_path(@restaurant) %><br>
<% end %>

<h3>Reviews</h3>
<% if @restaurant.reviews.any? %>
  <%= render @restaurant.reviews %>
<% else %>
  No review yet
<% end %>
<p><br></p>

<div class="google-maps">
  <iframe src="<%= '//www.google.com/maps/embed/v1/place?q=' + @query_string +
      '&zoom=17' +
      '&key=' + ENV["GOOGLE_API_KEY"] %>">
  </iframe>
</div>
